<div class="grid-item">
  <div class="card hoverable">
      {% if project.img %}
      <img src="{{ project.img | relative_url }}" alt="project thumbnail">
      {% endif %}
      <div class="card-body">
        <h2 class="card-title">{{ project.title }}</h2>
        <p class="card-text">{{ project.description }}</p>
        <div class="row ml-1 mr-1 p-0">
          {% if project.github %}
          <div class="links">
            <div class="icon" data-toggle="tooltip" title="Code Repository">
              <a class="btn btn-sm z-depth-0" href="{{ project.github }}" role="button"><i class="fab fa-github gh-icon"></i> Code</a>
            </div>
            {% if project.github_stars %}
            <span class="stars" data-toggle="tooltip" title="GitHub Stars">
              <i class="fas fa-star"></i>
              <span id="{{ project.github_stars }}-stars"></span>
            </span>
            {% endif %}
          </div>
          {% endif %}
          {% if project.pdf %}
            <div class="links">
              <div class="icon" data-toggle="tooltip" title="PDF">
                <a class="btn btn-sm z-depth-0" href="{{ project.pdf }}" role="button"><i class="fas fa-file-pdf file-pdf"></i> PDF</a>
              </div>
            </div>
          {% endif %}
          {% if project.blog %}
            <div class="links">
              <div class="icon" data-toggle="tooltip" title="Notes">
                <a class="btn btn-sm z-depth-0" href="{{ project.url | relative_url }}" role="button"><i class="fas fa-blog blog"></i> Notes</a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
</div>
