<div class="card-item col">
    <div class="card hoverable">
      <div class="row g-0">
        {% if project.img %}
        <div class="card-img col-md-6">
          <img src="{{ project.img | relative_url }}" alt="project thumbnail">
        </div>
        <div class="col-md-6">
        {% else %}
        <div class="col-md-12">
        {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">{{ project.description }}</p>      
            <div class="row">  
              <div class="links ml-2">
                {% if project.github %}           
                  <a class="btn btn-sm z-depth-0" href="{{ project.github }}" role="button"><i class="fab fa-github gh-icon"></i> Code</a>
                {% endif %}
                {% if project.pdf %}
                  <a class="btn btn-sm z-depth-0" href="{{ project.pdf }}" role="button"><i class="fas fa-file-pdf file-pdf"></i> PDF</a>             
                {% endif %}
                {% if project.blog %}            
                  <a class="btn btn-sm z-depth-0" href="{{ project.url | relative_url }}" role="button"><i class="fas fa-blog blog"></i> Read more</a>
                {% endif %}
            </div>
          </div>    
          </div>
        </div>
      </div>
    </div>
</div>
